.search_bar {
  padding-top: 10em;
}

.gameList {
  list-style-type: none;
}

.results {
  max-height: 90vh;
  overflow: scroll;
  margin-top: 8px;
  background-color: #fff;
}

.results ul {
  padding-left: 0;
}