
  body {
  background-image: url("images/games_bg_small.png");
  background-repeat: repeat;
  }
.login-box {	
	border-radius: 1rem;
}
.login-container{
	margin-top: 50px
}
.login-container-box{
	margin: auto;
}
.reg-message
{
	padding-top: 10px;
}
.reg-link {
	display:inline; padding-left: 0px;
	}